body{

  background-color:  #4fb9ec /* #008053 background with 30% opacity */
  
}
span{
  font-family: 'Mariposa';
}
@font-face {
  font-family: 'mariposa';
  src: url('../assets/Mariposa.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}