/* iOS places the subtitle above the title */
ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
  }
  h1{
    font-family: "Mariposa";
    font-size: 100px;
  }
img{
  width: 50%;
  height:50%;
}

.ion-color-secondary {
  --ion-color-base:#2d608f !important
}
ion-card{
  text-align: center;
}
ion-card-title{
  text-align: center;
}