/* iOS places the subtitle above the title */
ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
  }
  h1{
    font-family: "Mariposa";
    font-size: 10vw;
  }
  h2{
    font-family: "Mariposa";
    font-size: 6vw;
  }

pagination-controls {
  font-size: 4vw;

  }
img{
  width: 100%;
  height: 100%;
  border-radius: 5%;
  box-shadow: 0 0.5vw 1vw 0 rgba(245, 244, 244, 0.15);
  padding: 0 0;


}

.contenido{
  font-size: 2vw;
  font-family: 'Courier New', Courier, monospace;

}

.paginas{
  display: inline-block;

}

.ion-color-secondary {
  --ion-color-base:#2d608f !important
}
ion-card{
  text-align: center;
}
ion-card-title{
  text-align: center;
}

.paginator {
  .ngx-pagination {
      padding: 0;
      li:not(.current, .pagination-next, .pagination-previous) {
          border-radius: 5%;
          box-shadow: 0 10px 10px 0 rgba(245, 244, 244, 0.15);

      }

      a,
      .current {
        font-family: "Mariposa";
          padding: 0.5vw 1vw;
      }
  }
}