<ion-content class="ion-padding" [fullscreen]="false">
  <ion-grid class="ion-padding">
    <ion-title><h1> Registro de Usuarios</h1></ion-title>
    <div *ngFor="let user of users">
    <ion-row>
      <ion-col> 
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input type="email" [name]="'user.email'" [(ngModel)]="user.email" placeholder="Email" [readonly]="read"
          helperText="Enter a valid email"
          errorText="Invalid email"
          labelPlacement="floating"
          email>
        </ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Usuario</ion-label>
          <ion-input type="username" [name]="'user.username'" [(ngModel)]="user.username" placeholder="Usuario" [readonly]="read"></ion-input>
        </ion-item></ion-col>
      <ion-col>
         <ion-item>
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input type="password" [name]="'user.password'" [(ngModel)]="user.password" placeholder="Contraseña" [readonly]="read"></ion-input>
        </ion-item> 
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-button (click)="addUser(user)">
            <ion-icon slot="icon-only" name="save-outline"></ion-icon>
            Guardar
          </ion-button>
          <ion-button (click)="deleteUser(user.username)">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            Eliminar
          </ion-button>
          <ion-button (click)="editUser(user)">
            <ion-icon slot="icon-only" name="construct-outline"></ion-icon>
            Editar
          </ion-button>
       </ion-item> 
     </ion-col>
    </ion-row>
  </div>
  </ion-grid>



</ion-content>